body {
  margin: 0;
  overflow: hidden;
}

#containerOrbs {
  position: fixed;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 10px 5px 0;
  pointer-events: none;
  width: 100%;
}

#containerOrbs canvas {
  width: 14%;
  height: 14%;
}

#container3D {
  position: fixed;
  top: 0;
  left: 0;
}

